.a {
  color: var(--text-color-link);
  text-decoration: underline;
  cursor: pointer;
}

.container-login{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 850px;
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 3px solid var(--text-color);
  gap: 10px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.label-input-username{
  width: 300px;
}

.label-input-senha{
  width: 300px;
  label{
    min-width: 78px;
  }
}

form{
  margin-bottom: 10px;
}

.login form input{
  background-color: var(--background-color);
  color: var(--text-color);
  //caret-color: var(--text-color);
}

* form input::placeholder {
  color: var(--text-color);
}


.login h3{
  text-align: center;
  margin-bottom: 1rem;
}
