<div class="card">
  <div class="card-header">
  <p >{{sala.usernameDono}}/<b style="font-size: 1.5em">{{sala.nome}}</b></p>
  </div>
  <div class="card-header">

    <p>Participantes ({{sala.usernameParticipantes.length + 1}}/{{sala.qtdCapacidade}}):</p>
    <div class="participants">
      <p>{{sala.usernameDono}} (dono)</p>
      @for (u of sala.usernameParticipantes; track $index) {
        <p>{{u}}</p>
      }
    </div>
  </div>
  <div class="card-body">

    @if (stompClient.connected) {
      <div class="game-section">
        @if (sala.categoria == 'tictactoe') {
        <app-tictactoe [topic]="topic" [app]="app" [stompClient]="stompClient" [jogadorDono]="sala.usernameDono" [jogadorOponente]="sala.usernameParticipantes[0]" />
          }
        @else if (sala.categoria == 'jokenpo') {
          <app-jokenpo [topic]="topic" [app]="app" [stompClient]="stompClient" [jogadorDono]="sala.usernameDono" [jogadorOponente]="sala.usernameParticipantes[0]"/>
        }
        <app-chat [topic]="topic" [app]="app" [stompClient]="stompClient" />
      </div>
    }
  </div>
  <div class="card-footer">
  @if (sala.usernameDono == username) {
      <button class="btn btn-danger" (click)="deletarSala()">Deletar sala</button>
  }@else{
    <button class="btn btn-warning" (click)="sairSala()">Sair da sala</button>
  }
</div>

</div>
