.game-section h2{
  margin-top: 3%;
}

.container-dentro-sala{
  background-color: var(--background-color);
  color: var(--text-color);
  //border: 1px solid var(--text-color) ;
  border: 1px solid var(--border-color-sem-tema-claro);
}

.header-dentro-sala{
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
}

.header-dentro-sala, .participantes-dentro-sala, .sair-dentro-sala{
  background-color: var(--background-color3);
  //color: var(--text-color);
  border: 1px solid var(--border-color-sem-tema-claro);
}

.categoria{
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color-sem-tema-claro);
  //width: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  color: var(--text-color);
  background-color: var(--background-color2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-opcoes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
