<app-home>
  <div class=" container-cadastro">
    <div class="card cadastro">
  <h3>Cadastre-se</h3>
<form (submit)="register()" class="form-group">
  <div class="mb-3 label-input">
    <label for="username">Username:</label>
    <input type="text" [(ngModel)]="user.username" class="form-control" required name="username" id="username" />
  </div>

  <div class="mb-3 label-input">
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="user.email" class="form-control" required name="email" id="email" />
  </div>

  <div class="mb-3 label-input">
    <label for="password">Senha:</label>
    <input type="password" [(ngModel)]="user.password" class="form-control" required name="password" id="password" />
  </div>

  <div class="mb-3 label-input">
    <label for="dataNascimento">Data de Nascimento (opcional):</label>
    <input type="date" [(ngModel)]="user.dataNascimento" class="form-control" required name="dataNascimento" id="dataNascimento" />
  </div>

  @if (!tentandoCadastrar){
    <button type="submit" class="btn btn-primary">Cadastre-se</button>
  } @else {
    <button type="submit" class="btn btn-secondary" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="sr-only">Carregando</span>
    </button>
  }

</form>
  <p>Já possui conta? <a class="a" (click)="logar()">Login</a> </p>
    </div>
  </div>
</app-home>
