.container{
  flex: 1;
  display: flex;
  justify-content: center;
}
.quadrado-principal{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom:15%;
}

.container-nav{
  height: 100px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(40, 140, 200);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-top:1px solid #1e62cd;
  border-left: 1px solid #1e62cd;
  border-right: 1px solid #1e62cd;
  border-bottom: none;
  border-radius:7px 7px  0 0 ;
}

nav{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  width: 90%;
}
nav div{
  max-height: 80px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius:5px 5px 0 0 ;
  align-items: center;
  text-align: center;
}

nav div:hover{
  background-color: var(--background-color2);
  color:var(--text-color);
}

.container-conteudo{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-top:none;
  border-left: 1px solid #1e62cd;
  border-right: 1px solid #1e62cd;
  border-bottom: 1px solid #1e62cd;
  border-radius: 0 0 7px 7px;
}

@media (max-width: 600px) {
  .container-conteudo{
    padding: 5px;
    padding-top: 10px;
  }
}
@media (max-width: 400px) {
  nav div{
    padding-bottom: 5px;
  }
}


.pagina-atual{
  background-color: var(--background-color);
}

.pagina-atual p{
  color:var(--text-color);
}

//@media (max-width: 775px) {
//  .container-nav{
//    height: 100px;
//  }
//}

