table{
  border-collapse: collapse;

}

tr th input{

  //width: 20%;
  //height: 20%;
  border-radius: 5px;
  border: 1px solid var(--text-color);

}


thead{
  position:sticky;
  top:0;
  border-right: 3px solid var(--background-lista);
  border-left: 3px solid var(--background-lista);
}


td{
  //border-radius: 10px;
  border: 3px solid var(--background-lista);
}

.acao-th{
  //min-width: 175px;
}

td div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 775px) {
  .nome-container {
    flex-direction: column!important;
  }
  table{
    font-size: 14px;
  }
  button{
    font-size: 14px;
  }
}

.lista{
  background-color: var(--background-lista);
  overflow-y:auto;
  overflow-x:auto;

  min-width: 300px;
  border: 3px solid var(--background-lista);
  border-radius: 5px;
}


.table-responsive {
}


.lista-container{
  margin: 5px;
  display: flex;
  justify-content: center;
}

table thead tr th{
  background: var(--background-lista);
  text-align: center;
}

.pode-entrar td{
  background-color: var(--background-color);


}
.ja-esta-na-sala td{
  background-color: var(--background-ja-esta-na-sala);
}
.nao-pode-entrar td{
  background-color: var(--background-indisponivel);
}

td, th{
  color: var(--text-color);
}


.nao-pode-entrar-botao{
  background-color: var(--background-indisponivel);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
cursor: default;
  color: var(--text-color);
}

.emojis{
  cursor: default;
}

.sem-salas{
  color: var(--text-color);
  display: flex;
  justify-content: center;
}
