<div class="lista-container">
<!--  <div [ngClass]="{'lista':!suasSalas,'lista-suas-salas':suasSalas}" >-->
    <div class="lista" >
      @if (carregando){
        <div class="ff-inter carregando">
          <p>Carregando</p>
<span class="spinner-border" role="status" aria-hidden="true"></span>
        </div>
      } @else {
        <table *ngIf="ListaSalas.length > 0; else semSalas" class="table " >
          <thead>
          <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th class="acao-th">Ação</th>
            <th>Participantes</th>
            <th>Privacidade</th>
            <th>Status</th>
          </tr>
          </thead>

          <tbody  >
            @if (ListaSalas.length > 0){
              @for (p of ListaSalas; track $index) {
                <tr [ngClass]="{'ja-esta-na-sala':classificarOrdemDeSalas(p)==3,
      'nao-pode-entrar':classificarOrdemDeSalas(p)==2,
      'pode-entrar':classificarOrdemDeSalas(p)==1}">
                  <td data-label="Nome">
                    <div class="nome-container">
                     <div>{{ p.usernameDono }}/</div>
                      <div>{{ p.nome }} </div>
                    </div>
                  </td>
                  <td data-label="Categoria"><div><p>{{ p.categoria }}</p></div></td>
                  <td data-label="Ação">
                    <div>
                    @if (jaEstaNaSala(p)) {
                      <button
                        class = "btn btn-primary"
                        [routerLink]="['/salas', p.usernameDono, p.nome]">
                        Continuar
                      </button>

                    } @else {
                      <button
                        class="btn"
                        [ngClass]="{  'btn-success': p.publica && getDisponivel(p)=='Disponível', 'btn-warning': !p.publica && getDisponivel(p)=='Disponível','nao-pode-entrar-botao':getDisponivel(p)!='Disponível'}"
                        [routerLink]="classificarOrdemDeSalas(p) ==1 ? ['/salas', p.usernameDono, p.nome] : null"
                      >
                        {{ p.publica ? 'Entrar' : 'Entrar com senha' }}
                      </button>
                    }
                    </div>
                  </td>

                  <td data-label="Participantes" class="emojis" data-bs-toggle="tooltip" data-placement="top" title="{{participantesComDono(p)}}">
                    <div>
                      <p>{{ p.usernameParticipantes.length + 1 }}/{{ p.qtdCapacidade }}</p>
                    </div>
                  </td>
                  <td data-label="Privacidade">
                    <div>
                      <p>{{ p.publica ? 'Pública' : 'Privada' }}</p>
                    </div>
                  </td>
                  @if (getDisponivel(p) == "Sala cheia") {
                    <td data-label="Status" class="emojis" data-bs-toggle="tooltip" data-placement="top" title="Sala cheia"><div>🚫</div></td>
                  } @else if (getDisponivel(p)=="Em jogo"){
                    <td class="emojis" data-bs-toggle="tooltip" data-placement="top" title="Em jogo"><div>🚫</div></td>
                  } @else if (getDisponivel(p)=="Disponível"){
                    <td class="emojis" data-bs-toggle="tooltip" data-placement="top" title="Disponível"><div>✅</div></td>
                  }
                </tr>
              }
            }
          </tbody>
        </table>

      }
  </div>

</div>

<ng-template #semSalas>
  <div class="ff-inter sem-salas">
    <p>Nenhuma sala encontrada!</p>
  </div>
</ng-template>
