table{
  border-collapse: collapse;

}

tr th input{

  width: 20%;
  height: 20%;
  border-radius: 5px;
  border: 1px solid var(--text-color);

}


thead{
  position:sticky;
  top:0;
  border-right: 3px solid var(--background-lista);
  border-left: 3px solid var(--background-lista);
}

td{
  //border-radius: 10px;
  border: 3px solid var(--background-lista);
}

//th{
//  padding: 0;
//}



//@container (max-width: 1000000000000000000px) {
//  .lista {
//    overflow-x: auto;
//  }
//}


//.lista:hover{
//  scrollbar-color: var(--background-color-scrollbar-hover) var(--background-color);
//}
//
//.lista:active{
//  scrollbar-color: var(--background-color-scrollbar-active) var(--background-color);
//}


.lista{
  background-color: var(--background-lista);
  overflow-y:auto;
  overflow-x:auto;
  min-height:500px;
  max-height: 250px;
  min-width: 300px;
  border: 3px solid var(--background-lista);
  border-radius: 5px;
}
//.lista{ //lista antiga
//  overflow-y:auto;
//  overflow-x:auto;
//  background-color: var(--background-lista);
//
//  height:500px;
//  min-width: 500px;
//  border: 3px solid var(--background-lista);
//  border-radius: 10px;
//container-type: inline-size;
//@media (max-width: 130000000000000px) {
//  .lista {
//    overflow-x: auto;
//  }
//}
//}

//.lista::-webkit-scrollbar-track, .lista-suas-salas::-webkit-scrollbar-track {
//  background-color: var(--background-color); /* Cor de fundo da área da barra de rolagem */
//  border-radius: 6px;
//}
//
//.lista::-webkit-scrollbar-thumb{
//  background-color: var(--text-color); /* Cor da barra de rolagem */
//  border-radius: 6px;
//}

.table-responsive {
}


.lista-container{
  display: flex;
  justify-content: center;
}

table thead tr th{
  background: var(--background-lista);
}

.pode-entrar td{
  background-color: var(--background-color);
  //background-color: var(--background-color);
  //color: var(--text-color);

}
.ja-esta-na-sala td{
  background-color: var(--background-ja-esta-na-sala);
}
.nao-pode-entrar td{
  background-color: var(--background-indisponivel);
}

td, th{
  color: var(--text-color);
}

td{

}

td div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

//td div div{
//  border-radius: 10px;
//  background-color: var(--background-color);
//}
//
//td div div p{
//
//}

.nao-pode-entrar-botao{
  background-color: var(--background-indisponivel);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
cursor: default;
  color: var(--text-color);
}

.emojis{
  cursor: default;
}

.sem-salas{
  color: var(--text-color);
  display: flex;
  justify-content: center;
}
