<app-home>
  <div class="container-forget">
    <div class="card forget">
      <p><a class="a" (click)="login()">Voltar ao login</a></p>
      <h3>Recuperar a senha</h3>
      <form (submit)="forget()" class="form-group">
        <div class="mb-3 label-input">
          <label for="email"> Email:</label>
          <input type="text" [(ngModel)]="emailParaRecuperarRequest.email" class="form-control" required name="email" id="email" />
        </div>
        @if (!enviado){
          @if (!tentandoEnviar){
            <button type="submit" class="btn btn-primary">
              Enviar
            </button>
          } @else{
            <button type="submit" class="btn btn-secondary" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Carregando</span>
            </button>
          }
        } @else {
          <button type="submit" class="btn btn-primary">
            Enviar novamente
          </button>
        }
      </form>
      @if (enviadoPelaPrimeiraVez){
        <div class="redefinindo-senha">
        <h5>Enviado código de recuperação para <b>{{this.redefinirSenhaRequest.email}}</b></h5>
          <p>Obs: pode estar no lixo eletrônico</p>
        <form (submit)="redefinirSenha()" class="form-group" style="display: flex; flex-direction: column; gap:10px; margin-top:15px;">
            <label for="codigo"  >Código de recuperação</label>
            <input id="codigo" type="text" [(ngModel)]="redefinirSenhaRequest.codigo" class="form-control" required name="codigo" />

            <label for="novasenha" >Nova Senha</label>
            <input id="novasenha" type="password" [(ngModel)]="redefinirSenhaRequest.password" class="form-control" required name="senha" togglePassword  />

<!--          <div class="mb-3">-->
<!--            <input type="password" [(ngModel)]="redefinirSenhaRequest.confirmacao" class="form-control" placeholder="Confirmação da nova senha" required name="confirmacaoSenha" />-->
<!--          </div>-->
          @if (!tentandoRedefinir){
            <button type="submit" class="btn btn-primary">
              Redefinir
            </button>
          } @else{
            <button type="submit" class="btn btn-secondary" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Carregando</span>
            </button>

          }
        </form>
        </div>
      }
    </div>
  </div>
</app-home>
