.container-forget{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 850px;
  //height: 100vh;
}
.a {
  color: var(--text-color-link);
  text-decoration: underline;
  cursor: pointer;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forget{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 3px solid var(--text-color);
}

.forget form input{
  background-color: var(--background-color);
  color: var(--text-color);
}

*form input::placeholder{
  color: var(--text-color);
}

.forget h3{
  text-align: center;
  margin-bottom: 1rem;
}

.redefinindo-senha{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 3px solid var(--text-color);
}
