
<!--  <button (click)="scrollToBottom()">ROlar pra baixo</button>-->
  <div class="card-body chat-perso">
    @for (mensagem of chat; track $index) {
      <p><b>{{ mensagem.from }}</b>: {{ mensagem.message }}</p>
    }
  </div>
  <div class="card-footer">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="message.message" placeholder="Digite sua mensagem">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="sendMessage()">Enviar</button>
      </div>
    </div>
  </div>

