
<!--  <button (click)="scrollToBottom()">ROlar pra baixo</button>-->



<div class="card-body chat-perso">

<div class="inicio-conversa">
  <h3>A conversa começa aqui </h3>
</div>
    @for (mensagem of chat; track $index;) {
<div  >
<!--      @if (mensagem.ordem!=null && opcoesMostradas == mensagem.ordem){-->
        <div class="container-opcoes-mostradas"
             [ngClass]="{
    'ativo': opcoesMostradas == mensagem.ordem,
    'invertido': mensagem.from == getNomeUsuario,
    'nao-invertido': mensagem.from != getNomeUsuario
  }"
             id="opcoes-mostradas-{{mensagem.ordem}}">
        <div class="opcoes-mostradas"   id="{{mensagem.ordem}}">
          <div class="responder" (click)="responderMensagem(mensagem)" >
            <p >Responder</p>

          </div>
          <div class="traco-preto"></div>
          <div class="data">
            @if (mensagem.timestamp!=null){
              <p >{{transformarData(mensagem.timestamp)}}</p>}

          </div>
        </div>
        </div>
<!--      }-->
  @if (verificarSeMensagemAnteriorEhDoMesmoUsuario(mensagem)==0) {
    <div [ngClass]="{'username-de-quem-disse': mensagem.from != getNomeUsuario,'username-de-quem-disse-reverse':mensagem.from == getNomeUsuario}">
      <b>{{ mensagem.from }}</b>
    </div>
  }
      <div class="mensagem" [ngClass]="{'mensagem-de-outro' : mensagem.from != getNomeUsuario, 'mensagem-reverse':mensagem.from == getNomeUsuario,'manter-background':mensagem.ordem!=null && opcoesMostradas == mensagem.ordem,'respondendo-esta-mensagem':mensagem.ordem!=null && this.message.to == mensagem.ordem}"
           id="mensagem-{{mensagem.ordem}}">
        @if (mensagem.ordem !=null){
          <div class="seta-para-cima" id="seta-para-cima-{{mensagem.ordem}}" (click)="mostrarOpcoes(mensagem.ordem)">
            ^
          </div>
        }
        <div class="mensagem-textos">
          @if (mensagem.to != null){
            <div class="mensagem-resposta" *ngIf="procurarRespondido(mensagem.to) as procurado" (click)="goToMessage(mensagem.to)">
              <p>Respondendo <b>{{ procurado.from }}</b>: {{procurado.message}}</p>
            </div>
          }
        <p> {{ mensagem.message }}</p>
        </div>
      </div>
</div>
    }
  </div>
  <div class="card-footer chat-footer">
    <div class="respondendo" [ngClass]="{'respondendo-display-none':this.message.to == null}" >
      <p>Respondendo <b>{{this.respondendoAUsername}}</b></p>
      <button class="btn btn-secondary" (click)="cancelarResposta()">Cancelar</button>
    </div>
    <div class="input-group input-do-chat" style="gap:10px;">

      <input type="text" class="form-control" [(ngModel)]="message.message" placeholder="Digite sua mensagem" (keydown.enter)="sendMessage()" maxlength="200">
      <div class="input-group-append">
        @if (!enviandoMensagem){
          <button class="btn" (click)="sendMessage()"
                  [ngClass]="message==null || message.message.trim() == '' ? 'btn-secondary disabled' : 'btn-primary'"
          >Enviar</button>
        } @else {
          <button class="btn btn-secondary" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Carregando</span>
          </button>
        }
      </div>
    </div>
    <div style="margin-top:10px; margin-left: 10px;">
      {{message.message.length}}/200
    </div>
  </div>

