


.header-perso{
  display: flex;
  background-color: rgba(64, 118, 255, 1);
  justify-content: center;
  width: 100%;
  height: 100px;
  //box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
}
.logo-container{
  //background-color: rgba(64, 118, 255, 0.71);
  width: 200px;
  //height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.logo-container img{
  width: 100%;
}

//.homecard{
//  width: 130px;
//  //background-color: transparent;
//}

.homecard {
  min-width: 170px;
  max-width: 400px;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.homecard p{
  font-size: 150%;
  color: white;
}

.sair{
  background-color: rgba(64, 118, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 45px;
  padding: 5%;

}

.sair img{
  width: 40%;

}
.sair:hover{
  cursor: pointer;
  background-color: grey;
  border: 1px solid white;
  border-radius: 5%;
}



footer{
  background-color: rgb(64, 118, 255);
  position: absolute;
  bottom: 0;
  width: 100%;
  .parte-fundo{
    background-color: var(--background-color);
    height: 10px;
  }
  .parte-azul{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
//body, *{
//  background-color: var(--background-color);
//}

.home{
  background-color: var(--background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tema-escuro{
  background-color: black;
  color: white;
}

.tema-claro{
  background-color: white;
  color: black;
}

footer p{
  color: white;
}

footer a{
  color: white;
}

//.with-ng-content{
//  bottom:0;
//}

.mudar-tema{
  //width: 120px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-between;
  @media (min-width: 571px) {
    width: 120px;
  }
input{
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}
}

.mudar-tema{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.nao-homecard{
  display: flex;
  flex-direction: row;
}

@media (max-width: 570px) {
  .header-perso{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nao-homecard{
    display: flex;
    flex-direction: column;
  }
  .mudar-tema{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .homecard p{
    font-size: 100%;
  }
.sair{
  width: 70px;
  height: 35px;
}

}


.aniversario-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  p{
    font-size: 150%;
    color: var(--text-color);
  }
}

.aniversario-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  color: var(--text-color);
  background-color: var(--background-color2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-opcoes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
