<div class="home" id="home" [ngClass]="{'tema-escuro': escuro, 'tema-claro': !escuro}" >
  <header class="d-flex header-perso">
    <div class="logo-container">
      <img src="RoomMaker.png" alt="RoomMaker">
    </div>
<!--    <div>-->
<!--      <div class="form-switch">-->
<!--        @if(!escuro) {-->
<!--          <label class="form-check-label" >Tema escuro</label>-->
<!--          <input class="form-check-input" type="checkbox" role="switch"  (click)="changeTheme()">-->
<!--          }@else{-->
<!--          <label class="form-check-label" >Tema escuro</label>-->
<!--          <input class="form-check-input" type="checkbox" role="switch" (click)="changeTheme()" checked>-->
<!--          }-->
<!--      </div>-->
<!--    </div>-->
    <div class="col-6 col-md-3 d-flex justify-content-end align-items-center flex-row homecard">
      @if (username != null) {
        <img ngSrc="icon.png" alt="Profile Picture" width="24" height="32" class="me-2">
        <div class="d-flex flex-column align-items-center">
          <p class="mb-0">Olá, {{username}}</p>
          <div class="btn sair" (click)="logout()">
            <img src="logout.png" alt="logout">
            <p>sair</p>
          </div>
        </div>
      }
    </div>
    <!-- <button (click)="throwErro()"> throw error de proposito</button> -->
  </header>
  <!-- <div class="with-ng-content"> -->
  <ng-content></ng-content>
  <!-- </div> -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center">Desenvolvido por <a href="https://github.com/Gustavoksbr" target="_blank">Gustavoksbr</a></p>
        </div>
      </div>
    </div>
  </footer>
</div>
