<div class="home" id="home"  >
<!--  [ngClass]="{'tema-escuro': escuro, 'tema-claro': !escuro}"-->
  <header class="header-perso">
    <div class="nao-homecard">
    <div class="logo-container">
      <img src="RoomMaker.png" alt="RoomMaker">
    </div>
    <div>
      <div class="form-switch mudar-tema">
        @if(!escuro) {
          <label class="form-check-label" >Tema claro</label>
          <input class="form-check-input" type="checkbox" role="switch"  (click)="changeTheme()">
          }@else{
          <label class="form-check-label" >Tema Escuro</label>
          <input class="form-check-input" type="checkbox" role="switch" (click)="changeTheme()" checked>
          }
      </div>
    </div>
    </div>
    <div class="  homecard">
      @if (username != null) {
        <img ngSrc="icon.png" alt="Profile Picture" width="24" height="32" class="me-2">
        <div class="d-flex flex-column align-items-center">
          <p>Olá, {{username}}</p>
          <div class="sair" (click)="abrirModal()">
            <img src="logout.png" alt="logout">
            <p>sair</p>
          </div>
        </div>
      }
      <div *ngIf="isModalOpen" class="modal-overlay" (click)="fecharModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">

            <h2>Deslogar</h2>
            <p>Tem certeza que deseja sair da sua conta?</p>

          <div class="modal-opcoes">
            <button class="btn btn-warning" (click)="logout()">Sair</button>
            <button class="btn btn-secondary" (click)="fecharModal()">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <button (click)="throwErro()"> throw error de proposito</button> -->
  </header>
  <!-- <div class="with-ng-content"> -->
  @if (seuAniversario) {
    <div class="aniversario-container">
      <div class="aniversario-content">
        <img src="boloaniversario.gif" width="100px">
        <p>Feliz Aniversário!!!</p>
        <img src="boloaniversario.gif" width="100px">
      </div>
    </div>
  }
  <ng-content></ng-content>
  <!-- </div> -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center">Desenvolvido por <a href="https://gustavoksbr-portfolio-maker.vercel.app/portfolios/gustavoksbr" target="_blank">Gustavoksbr</a></p>
        </div>
      </div>
    </div>
  </footer>
</div>
