.who-is-the-impostor-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.who-is-the-impostor-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 80%;
  border: 1px solid var(--border-color);
  padding: 15px;
  border-radius: 8px;
  background-color: var(--background-color2);
}

.mostrar-esconder-header{
  cursor: pointer;
  border : 1px solid var(--border-color);
}
.btn-mostrar-esconder{
  background-color: var(--background-color3);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.mostrar-esconder-container{
  display: grid;
  transition: grid-template-rows 500ms;
}
.mostrar-esconder-content{
  overflow: hidden;
}

.aparecer{
  grid-template-rows: 1fr;
}
.desaparecer{
  grid-template-rows: 0fr;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
  color: var(--text-color);
  background-color: var(--background-color2);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-opcoes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
