
.criar-sala{

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3{
    color: var(--text-color);
  }
}

.container-forms{
  //width: 600px;
  //height: 450px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  label{
    color: var(--text-color);
  }
}

.formulario{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  input,select{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
  }
  ::placeholder{
    color: var(--text-color);
  }
}

.selecionarCategoria{
  width: 30%;
}

#flexSwitchCheckDefault:checked {
  background-color: blue;
}
.acoes{
  display: flex;
  justify-content: space-around;
}

@media (min-width: 950px ) {
  .formulario{
    width: 338px
  }
  .container-forms{
    width: 467px;
  }
}
