<app-home>
  <app-navbar [paginaAtual]=PaginaAtual.CRIAR_SALA>
<div class="criar-sala">
<h3>Crie sua sala!</h3>
  <div class="card container-forms">
<div class="formulario">
  <div class="form-group">
<label for="salaNome">Nome da sala</label>
    <input
      id="salaNome"
      type="text"
      class="form-control"

      [(ngModel)]="sala.nome"
      name="nome"
      required
    >
  </div>
  <div class="form-group">
<label for="salaCategoria">Categoria</label>
<select id="salaCategoria"  class="form-select selecionarCategoria"  [(ngModel)]="sala.categoria"  name="categoria" required>
  <option value="chat" >Chat</option>
  <option value="jokenpo">Jo-ken-pô</option>
  <option value="tictactoe">Jogo da velha</option>
</select>
  </div>
  <div class="form-group">

    <label for="salaQtdCapacidade">Capacidade</label>
    <input
      id="salaQtdCapacidade"
      type="number"
      class="form-control"
      style=""
      placeholder="Digite a capacidade"
      [ngStyle]="soPodeDois() ? {'background-color': 'var(--background-color2)'} : {}"
      [(ngModel)]="sala.qtdCapacidade"
      name="qtdCapacidade"
      [readonly]="soPodeDois()"
      [value]="soPodeDois() ? 2 : sala.qtdCapacidade"
      required
    >
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [(ngModel)]="publica">
    <label class="form-check-label" for="flexSwitchCheckDefault">Publica</label>
  </div>
  <div class="form-group">
    <label for="salaSenha">Senha</label>
    <input
      id="salaSenha"
      type="password"
      class="form-control"

      [(ngModel)]="sala.senha"
      name="senha"
      required
      [ngStyle]="publica ? {'background-color': 'var(--background-color2)'} : {}"
      [readOnly]="publica"
      [value]="publica ? '' : sala.senha"
    >
  </div>

  <div class="acoes">
    @if (!tentandoCriar){
      <button (click)="criarSalaRequest()" class="btn btn-primary">
        Salvar
      </button>
    } @else {
      <button type="submit" class="btn btn-secondary" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Carregando</span>
      </button>
    }



    <button (click)="cancelar()" class="btn btn-secondary">Limpar</button>
  </div>
</div>

</div>
</div>
  </app-navbar>
</app-home>
