<app-home>
  <app-navbar [paginaAtual]=PaginaAtual.SUAS_SALAS>
    <div class="suas-salas">
<!--    <div class="card">-->
    <h3>Salas que você é dono</h3>
    <app-lista-salas [ListaSalas]="ListaSalasDono" [suasSalas]=true [carregando]="carregandoDono"></app-lista-salas>
<!--    </div>-->
<!--    <div class="card">-->
<!--      <app-lista-salas [ListaSalas]="ListaSalasParticipante"></app-lista-salas>-->

      <h3>Salas que você é convidado</h3>
    <app-lista-salas [ListaSalas]="ListaSalasParticipante" [suasSalas]=true [carregando]="carregandoParticipante"></app-lista-salas>
<!--    </div>-->
    </div>

  </app-navbar>

</app-home>
