.tictactoe-container{
  //background-color: var(--background-color);
  //color: var(--text-color);
  //border-radius: 1%;
}

.jogo-da-velha-cabecalho{
  display: flex;
  flex-direction: row;

  align-items: center;
  border:1px solid var(--border-color-sem-tema-claro);
}

.tictactoe-board p{
  font-size: 50px;
}

.tictactoe-board .letra{
  width: 100px;
}

.tictactoe-board-2{

}

.tictactoe-board-2 p{
  font-size: 25px;
}

.tictactoe-board-2 .letra{
  width: 50px;
}


.row-personalizada{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.esperando-oponente{
  //background-color: var(--background-color);
  color: var(--text-color);
border-radius: 1%;
  border: 1px solid var(--border-color-sem-tema-claro);

}

.col-personalizada{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.letra{
  border: 1px solid var(--text-color);
  align-items: center;
}

.letra p{

  text-align: center;
}

.nao-e-sua-vez{
  background-color: rgba(142, 137, 137, 0.59);
}

.resultado-anterior{
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3%;
  padding: 3%;
}


