.tictactoe-board p{
  font-size: 50px;
}

.tictactoe-board .letra{
  width: 100px;
}

.tictactoe-board-2 p{
  font-size: 25px;
}

.tictactoe-board-2 .letra{
  width: 50px;
}


.row-personalizada{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-personalizada{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.letra{
  border: 1px solid black;
  align-items: center;
}

.letra p{

  text-align: center;
}

.nao-e-sua-vez{
  background-color: rgba(142, 137, 137, 0.59);
}



