<!--<div class="tictactoe-component">-->
<!--  <h3>Jogo da velha</h3>-->
<div class="tictactoe-container">
  @if (!jogadorOponente){
    <div class="card-header esperando-oponente">
    <p>Esperando oponente...</p>
    </div>
  } @else {
    <div class="card-header jogo-da-velha-cabecalho">
      <div>
        <p>Vitórias de {{jogadorDono}}: {{vitoriasDono}}</p>
        <p>Vitórias de {{jogadorOponente}}: {{vitoriasOponente}}</p>
        <p>Empates:{{empates}}</p>
      </div>
    @if(tictactoeAnterior.status!=TicTacToeStatus.WAITING){
      <div class="card resultado-anterior">
      @if (tictactoeAnterior.status==TicTacToeStatus.DRAW){
        <h5>Empate!</h5>
      } @else if (tictactoeAnterior.status==TicTacToeStatus.x_WIN){
        <h5>{{tictactoeAnterior.x}} venceu!</h5>
      } @else if (tictactoeAnterior.status==TicTacToeStatus.o_WIN){
        <h5>{{tictactoeAnterior.o}} venceu!</h5>
      }
      <div class="tictactoe-board-2">
      <div class="row-personalizada">
        @for (row of [0,1,2];track $index) {
          <div class="col-personalizada">
            @for (col of [0,1,2];track $index) {
              <div class="letra" >

                <p>{{ tictactoeAnterior.posicao[row * 3 + col] }} </p>
              </div>
            }
          </div>
    }
  </div>
      </div>
      </div>
    }
    </div>
<div class="card-body">
    <p>Sua letra é:
      @if(username == tictactoe.x)
      {
        X
      }
      @else if(username == tictactoe.o)
      {
        O
      }
    </p>
    <p>{{verificarStatus()}}</p>
    <div class="tictactoe-board">
      <div class="row-personalizada">
        @for (row of [0,1,2];track $index) {
          <div class="col-personalizada">
            @for (col of [0,1,2];track $index) {
              <div (click)="enviarLance(row * 3 + col)" class="letra" [ngClass]="{'nao-e-sua-vez':!verificarVez()}">
                <p>{{ tictactoe.posicao[row * 3 + col] }} </p>
              </div>
            }
          </div>
        }
      </div>
    </div>
</div>
  }

</div>
<!--</div>-->
