<app-home>
  <app-navbar [paginaAtual]=PaginaAtual.SALAS>
  <div class="barra-pesquisa">
    <h3>Procurar</h3>
    <div class="main-search">
      <div class="inputs-search row mb-3 ">
    <div class="col">
      <label for="searchUsernameDono">Dono</label>
      <input id="searchUsernameDono" type="text" class="form-control"  [(ngModel)]="searchUsernameDono">
    </div>
    <div class="col" id="input-nome-sala">
      <label for="searchNomeSala">Nome da Sala</label>
      <input id="searchNomeSala" type="text" class="form-control" [(ngModel)]="searchNomeSala">
    </div>
    <div class="col">
      <label for="searchCategoria">Categoria</label>
      <select
        [(ngModel)]="searchCategoria"
        id="searchCategoria"
        class="form-select selecionarCategoria"
        name="categoria"
        required
      >
        <option value="" selected ></option>
        <option value="chat" >Chat</option>
        <option value="jokenpo">Jo-ken-pô</option>
        <option value="tictactoe">Jogo da velha</option>
     <!--   <option value="coup">Coup</option> !-->
      </select>
    </div>
      </div>
    <div class="col conjunto-botoes">
    <div class="" id="botao-pesquisar">
      <button type="submit" (click)="search()" class="btn btn-primary">🔎</button>
      </div>
    <div class="">
      <button (click)="limpar()" class="btn btn-secondary">Limpar</button>
    </div>
    </div>
    </div>
  </div>
    <app-lista-salas [ListaSalas]="ListaSalas" [carregando]="carregando">
    </app-lista-salas>
  </app-navbar>
</app-home>
