<app-home>
  <div class=" container-login">
    <div class="card login">
  <h3>Login</h3>
<form (submit)="login()" class="form-group">
  <div class="mb-3 label-input label-input-username">
    <label for="username" >Username: </label>
    <input type="text" [(ngModel)]="credentials.username" class="form-control"  required id="username" name="username" />
  </div>
  <div class="mb-3 label-input label-input-senha">
    <label for="password" ><p>Senha:</p> </label>
    <input type="password" [(ngModel)]="credentials.password" class="form-control"  required id="password" name="password"/>
  </div>

    @if (!tentandoLogar){
      <button type="submit" class="btn btn-primary">
      Login
      </button>
    } @else {
      <button type="submit" class="btn btn-secondary" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="sr-only">Carregando</span>
      </button>
    }



</form>
<!--      <p>Esqueceu a senha? <a class="a " (click)="esqueciSenha()">Recupere-a </a></p>-->
  <p>Não possui conta? <a class="a" (click)="cadastrar()">Cadastre-se</a> </p>
  </div>
  </div>
</app-home>
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->

