<form (submit)="login()" class="form-group">
  <div class="mb-3">
    <input type="text" [(ngModel)]="credentials.username" class="form-control" placeholder="Username" required name="username" />
  </div>
  <div class="mb-3">
    <input type="password" [(ngModel)]="credentials.password" class="form-control" placeholder="Password" required name="password" />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->

