<div class="container mt-4 container-fora-da-sala">
  <p class="h4">Entre na sala!</p>
  <div class ="fora-da-sala card">


<p>- Sala:<b> {{salaParaEntrar.usernameDono}}/{{salaParaEntrar.nome}}</b></p>

<p>- Categoria: <b>{{categoriaMap[salaParaEntrar.categoria]}}</b></p>
<p>- Quantidade de participantes: <b>{{salaParaEntrar.usernameParticipantes.length+1}}/{{salaParaEntrar.qtdCapacidade}}</b></p>
    <div class="participantes"><p>- Participantes:</p>
      <ul>
        <li>
          <b> {{salaParaEntrar.usernameDono}}(dono)</b>
        </li>
        @for (participante of salaParaEntrar.usernameParticipantes; track $index) {
          <li>
            <b>{{participante}}</b>
          </li>
        }
      </ul>
    </div>
<p>- Privacidade:<b> {{salaParaEntrar.publica ? 'Pública' : 'Privada'}}</b></p>

  @if (!salaParaEntrar.publica) {
  <div style="display: flex; flex-direction: column; gap:5px;">
    <label for="salaSenha">- Senha</label>
    <input
      id="salaSenha"
      type="password"
      class="form-control"
      [(ngModel)]="salaRequest.senha"
      name="senha"
      required
      togglePassword
    >
  </div>
  }
  <div class="form-group mt-3 entrar">
    <button (click)="entrarSala()" class="btn btn-primary">Entrar</button>
  </div>
  </div>
  </div>
