<div class="container mt-4">
  <p class="h4">Entre na sala!</p>
  <div class="form-group">
    <label for="salaNome">Sala</label>
    <input
      id="salaNome"
      type="text"
      [(ngModel)]="salaParaEntrar.nome"
      class="form-control"
      name="nome"
      readonly style="background-color: #f8f9fa;"
    >
  </div>
  <div class="form-group">
    <label for="usernameDono">Dono</label>
    <input
      id="usernameDono"
      type="text"
      [(ngModel)]="salaParaEntrar.usernameDono"
      class="form-control"
      name="usernameDono"
      readonly style="background-color: #f8f9fa;"
    >
  </div>
  <div class="form-group">
    <label for="categoria">Categoria</label>
    <input
      id="categoria"
      type="text"
      [(ngModel)]="salaParaEntrar.categoria"
      class="form-control"
      name="categoria"
      readonly style="background-color: #f8f9fa;"
    >
  </div>
  <div class="form-group">
    <label for="qtdCapacidade">Capacidade</label>
    <input
      id="qtdCapacidade"
      type="number"
      [(ngModel)]="salaParaEntrar.qtdCapacidade"
      class="form-control"
      name="qtdCapacidade"
      readonly style="background-color: #f8f9fa;"
    >
  </div>
  <div class="form-group">
    <label for="publica">Privacidade</label>
    <input
      id="publica"
      type="text"
      [value]="salaParaEntrar.publica ? 'Pública' : 'Privada'"
      class="form-control"
      name="publica"
      readonly style="background-color: #f8f9fa;"
    >
  </div>
  <div class="form-group">
    <label for="usernameParticipantes">Participantes</label>
    <textarea
      id="usernameParticipantes"
      class="form-control"
      [(ngModel)]="salaParaEntrar.usernameParticipantes"
      name="usernameParticipantes"
      readonly style="background-color: #f8f9fa;"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="salaSenha">Senha</label>
    <input
      id="salaSenha"
      type="password"
      class="form-control"
      placeholder="Digite a senha"
      [(ngModel)]="salaRequest.senha"
      name="senha"
      required
    >
  </div>
  <div class="form-group mt-3">
    <button (click)="entrarSala()" class="btn btn-primary">Entrar</button>
  </div>
</div>
