.container-fora-da-sala{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}


.fora-da-sala{
padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 3px solid var(--text-color);
}

.fora-da-sala p{
  padding: 3%;
}

.entrar{
  width: 100%;
  display: flex;
  justify-content: center;
}

.fora-da-sala p{
  display: flex;
  flex-direction: column;
}

//.participantes{
//  display: flex;
//  flex-direction: row;
//}
