/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
}

//body{
//  background-color: var(--background-color);
//}


*{
  font-family: 'Roboto', sans-serif;
}
:root { // tema escuro por padrao
  --background-color: #121212;
  --background-color-reverse: #ffffff;
  --border-color-sem-tema-claro: #6e6d6d;


  --text-color: #ffffff;
  --text-color-reverse: #000000;
  --text-color2: darkgrey;

  --background-color2: #333333;
  --background-color2-reverse: lightgrey;;
  --background-color3: #333333;
  --text-color-link: lightblue;

  --background-color-scrollbar-default: #555;
  --background-color-scrollbar-hover: #666;
  --background-color-scrollbar-active: lightgrey;

  --background-lista: #1e62cd;

  --background-indisponivel: #333333;
  --background-ja-esta-na-sala: #008fe4;

  --color-icon: invert(0);
}
[data-theme="claro"] {
  --background-color: #ffffff;
  --background-color-reverse: #000000;
  --border-color-sem-tema-claro: rgba(0, 0, 0, 0.1);


  --text-color: #000000;
  --text-color-reverse: #ffffff;
  //--text-color2: grey;


  --background-color2: lightgrey;
  --background-color2-reverse: #333333;
  --background-color3: #f1f1f1;
  --text-color-link: blue;

  --background-color-scrollbar-default: lightgrey;
  --background-color-scrollbar-hover:#666;
  --background-color-scrollbar-active:#555;

  --background-lista: cornflowerblue;

  --background-indisponivel: lightgrey;
  --background-ja-esta-na-sala: lightblue;

  --color-icon: invert(1);
}


::-webkit-scrollbar-corner {
  background-color: #1e62cd;
}

::-webkit-scrollbar {
  width: 15px;
  //border-radius: 10px;
  background-color: var(--background-lista);

}

::-webkit-scrollbar-track {

  //border-radius: 10px;
}

::-webkit-scrollbar-thumb {

  border-radius: 10px;
  background-color: var(--background-color-scrollbar-default);
}

.carregando{
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  height: 100%;
}

//body{
//  background-color: var(--background-color);
//  color: var(--text-color);
//  transition: background-color 0.5s, color 0.5s;
//}

//@media (max-width: 600px) {
//  h1,h2,h3,h4,h5,h6,label{
//    font-size: 12px;
//  }
//  p{
//    font-size: 10px;
//  }
//}
[data-theme="dark"] input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverte as cores do ícone no modo escuro */
}
.label-input{
  display: flex;
  flex-direction: row;

  gap: 15px;
  align-items: center;
}
