/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
}

html{
  background-color: var(--background-color);
}


*{
  font-family: 'Roboto', sans-serif;
}

:root { // tema escuro por padrao
  --background-color: #121212;
  --background-color-reverse: #ffffff;
  --border-color-sem-tema-claro: #6e6d6d;


  --text-color: #ffffff;
  --text-color-reverse: #000000;
  --text-color2: darkgrey;

  --background-color2: #333333;
  --background-color2-reverse: lightgrey;;
  --background-color3: #474747;
  --text-color-link: lightblue;

  --background-color-scrollbar-default: #555;
  --background-color-scrollbar-hover: #666;
  --background-color-scrollbar-active: lightgrey;

  --background-lista: #1e62cd;

  --background-indisponivel: #333333;
  --background-ja-esta-na-sala: #008fe4;

  --color-icon: invert(0);

  --highlight-color: #1e62cd;
  --highlight-color2: #877c04;
  --highlight-color3: #662222;
}
[data-theme="claro"] {
  --background-color: #ffffff;
  --background-color-reverse: #000000;
  --border-color-sem-tema-claro: rgba(0, 0, 0, 0.1);


  --text-color: #000000;
  --text-color-reverse: #ffffff;
  //--text-color2: grey;


  --background-color2: #f4f4f4;
  --background-color2-reverse: #333333;
  --background-color3: #dfdede;
  --text-color-link: blue;

  --background-color-scrollbar-default: lightgrey;
  --background-color-scrollbar-hover:#666;
  --background-color-scrollbar-active:#555;

  --background-lista: cornflowerblue;

  --background-indisponivel: lightgrey;
  --background-ja-esta-na-sala: lightblue;

  --highlight-color: #699bea;
  --highlight-color2: #d6c50a;
  --highlight-color3: #fdd;

  --color-icon: invert(1);
}


::-webkit-scrollbar-corner {
  background-color: #1e62cd;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: var(--background-lista);

}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--background-color-scrollbar-default);
}

.carregando{
  color: var(--text-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 15px;
  height: 100%;
}

//input[type="date"]::-webkit-calendar-picker-indicator {
//  filter: invert(1);
//}
//[data-theme="claro"] input[type="date"]::-webkit-calendar-picker-indicator  {
//  filter: invert(0);
//}
.label-input{
  display: flex;
  flex-direction: row;

  gap: 15px;
  align-items: center;
}
.nao-copiavel {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.hover-crescer{
  transition: transform 0.25s ease;
  &:hover{
    transform: scale(1.05);
  }
}

