<app-home>
<app-navbar>
<!--  <app-navbar [paginaAtual]="returnPaginaAtual()" >-->
<section class="container">
  <header class="header d-flex">
  </header>
  <button routerLink="/salas" class="btn btn btn-secondary voltar-a-lista">Ver outras salas</button>
  @if (carregando){
    <div class="ff-inter carregando">
      <p>Carregando</p>
      <span class="spinner-border" role="status" aria-hidden="true"></span>
    </div>
  } @else  {
@if(sala.id==""){
  <div class="pagina-not-found">
    <h3>Sala com nome <b>{{url}}</b> não encontrada!</h3>
  </div>

} @else {
  @if(usuarioEstaNaSala())
  {
    <app-dentro-da-sala [sala] ="sala" (enviarParticipantes)="validarParticipantes($event)" />
  }
  @else
  {
    <app-fora-da-sala [salaParaEntrar]="sala" (enviarSala)="entrarSala($event)"/>
  }

}
  }
</section>

</app-navbar>
</app-home>
