<!--<div>-->
<!--  <h3>Jokenpo </h3>-->
<div class="jokenpo-container">
  @if (!jogadorOponente){
    <div class="card-header">
    <p>Esperando oponente...</p>
    </div>
  } @else {
    <div class="card-header tabela-jokenpo">
    <div>
      <p>Vitórias de <b>{{jogadorDono}}</b>: {{vitoriasDono}}</p>
      <p>Vitórias de <b>{{jogadorOponente}}</b>: {{vitoriasOponente}}</p>
      <p>Empates:{{empates}}</p>
    </div>
    @if (jokenpoAnterior.status!=JokenpoStatus.WAITING){
      <div class="card jogo-anterior">
        @if(jokenpoAnterior.status==JokenpoStatus.DRAW){
          <h5>Empate!</h5>
        } @else if(jokenpoAnterior.status==JokenpoStatus.DONO_WIN) {
          <h5><b>{{jogadorDono}}</b> venceu!</h5>
        }
        @else if(jokenpoAnterior.status==JokenpoStatus.OPONENTE_WIN) {
          <h5><b>{{jogadorOponente}}</b> venceu!</h5>
        }
        <p>lance do <b>{{jogadorDono}}</b>: {{jokenpoAnterior.lanceDono}}</p>
        <p>lance do <b>{{jogadorOponente}}</b>: {{jokenpoAnterior.lanceOponente}}</p>
      </div>
    }
    </div>

    <div class="card-body">
      <div><p style="font-size: 20px">Escolha uma jogada: </p><p style="font-size: 14px">(Você pode mudar enquanto seu oponente não fizer o lance)</p></div>
      <div class="opcoes">
      <button class="escolha-jokenpo" [ngClass]="{'escolhido-jokenpo': lanceRequest.lance == JokenpoLance.PEDRA}" (click)="enviarLance(JokenpoLance.PEDRA)">Pedra 🗿</button>
      <button class="escolha-jokenpo" [ngClass]="{'escolhido-jokenpo': lanceRequest.lance == JokenpoLance.PAPEL}" (click)="enviarLance(JokenpoLance.PAPEL)">Papel 📄</button>
      <button class="escolha-jokenpo" [ngClass]="{'escolhido-jokenpo': lanceRequest.lance == JokenpoLance.TESOURA}" (click)="enviarLance(JokenpoLance.TESOURA)">Tesoura ✂️</button>
      </div>

      @if(jokenpo.lanceDono!=JokenpoLance.ESPERANDO){
        <p><b>{{jogadorDono}}</b> já fez o lance</p>
      } @else {
        <p>Esperando <b>{{jogadorDono}}</b> fazer o lance</p>
      }
      @if (jokenpo.lanceOponente !=JokenpoLance.ESPERANDO){
        <p><b>{{jogadorOponente}}</b> já fez o lance</p>
      } @else{
        <p>Esperando <b>{{jogadorOponente}}</b> fazer o lance</p>
      }
    </div>

  }
</div>
<!--    </div>-->
